<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} Login {% endblock %}</title>
  </head>
  <body>
    <h1>{% block header %} Log In {% endblock %}</h1>
    {% with msgs = get_flashed_messages() %}
     <p style="color:red;">
      {% for msg in msgs %}
        {{ msg }}
      {% endfor %}
     {% endwith %}
    </p>
    {% block content %}
    <form action="/login", method = "POST">
      <input type="text" name="uname" placeholder="Username" required><br>
      <input type="password" name="password" placeholder="Password" required><br>
      <input type="submit" value="Let's go!">
    </form>
    {% endblock %}
  </body>
</html>
